body {
  font-size: 16px;
  width: 700px;
  margin: 0 auto;
  padding: 50px 0 100px;
  font-family: Georgia, serif;
  background-color: #c4fcef;
  line-height: 1.0;
}
h2 {
  font-weight: bold;
  text-align: center;
  }
h3 {
  color: black;
}
.logo {
  color: black;
  font-size: 50px;
  line-height: normal;
  margin-bottom: 30px;
  text-align: center;
  }
.nav a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  padding: 4px 8px;
  }
.nav {
  justify-content: space-between;
  display: flex;
}
.Who-header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.Who-position {
  text-align: center;
  color: black;
}
.photo {
text-align: center;
}
.photo1 {
  border: 2px solid black;
  border-radius: 100px;
  }
footer {
  text-align: center;
  padding: 20px 0 100px;
  }
.info a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  padding: 4px 8px;
}
