p {
  margin-top: 12px;
}
h3 {
  font-weight: 400;
}
h1 {
  font-size: 36px;
  margin-top: 0;
  font-weight: 400;
}
h2 {
  font-size: 32px;
  border-bottom: solid 1px #3e3848;
  margin-top: 8px;
  font-weight: 400;
}
h2.header-title {
  font-size: 18px;
  border-bottom: none;
  margin-bottom: 10px;
}
#header {
  margin-bottom: 32px;
  text-align: center;
}
#footer {
  margin-top: 64px;
  text-align: center;
}
body {
  font-family: Georgia;
  font-size: 12px;
  margin: 0 auto;   
  max-width: 800px; 
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
  border: solid;
  border-radius: 12px;
  padding: 36px 18px;
  color: #3e3848;
}
